/*background*/
body{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
/*planet*/
.sun {
    width: 180px;
    height: 180px;
    background-image: url(Sun.png);
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
.planet {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
#planet1 {
    background-image: url(Mercury.png);
    width: 20px;
    height: 20px;
} #planet2 {
    background-image: url(Venus.png);
    width: 27px;
    height: 27px;
} #planet3{
    background-image: url(Earth.png);
    width: 35px;
    height: 35px;
} #planet4{
    background-image: url(Mars.png);
    width: 30px;
    height: 30px;
} #planet5{
    background-image: url(Jupiter.png);
    width: 70px;
    height: 70px;
} #planet6{
    background-image: url(Saturn.png);
    width: 90px;
    height: 52px;
} #planet7{
    background-image: url(Uranus.png);
    width: 55px;
    height: 55px;
} #planet8{
    background-image: url(Neptune.png);
    width: 55px;
    height: 55px;
}
/*line*/
.line{
  border-radius: 50%;
  border:1px dotted #ddd9;
  position: absolute;
  z-index: -1;
} #line1{
  height: 200px;
  width: 200px;
} #line2{
    height: 300px;
    width: 300px;
} #line3{
    height: 400px;
    width: 400px;
} #line4{
    height: 500px;
    width: 500px;
} #line5{
    height: 600px;
    width: 600px;
} #line6{
    height: 700px;
    width: 700px;
} #line7{
    height: 800px;
    width: 800px;
} #line8{
    height: 900px;
    width: 900px;
}
/*popup*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
} .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    height: 40%;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
} .left-section {
    float: left;
    width: 50%;
    height: 50%;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
} .image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 50%;
    left: 25%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-size: 512px 100%;
    box-shadow: inset 0px 0px 5px #fdfff29e, inset 30px 0px 50px #000e;
    animation: rotate 12s linear infinite;
} @keyframes rotate{
    0%{background-position-x: 0%;}
    100%{background-position-x: 2048px;}
} .right-section {
    float: right;
    width: 50%;
    height: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
} .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
/*hamburgerMenu*/
.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
} .close-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    z-index: 2;
} .user-info {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    top: 50px;
    left: 10px;
} .user-info img {
    width: 80px; /* Atur lebar gambar sesuai keinginan Anda */
    height: 80px; /* Atur tinggi gambar sesuai keinginan Anda */
    border-radius: 50%; /* Untuk membuat gambar menjadi lingkaran */
    display: block;
    margin: 0 auto;
    
} .span {
    color: #fff; /* Warna teks nama Anda */
    display: block;
    text-align: left;
    margin-top: 20px;
    position: absolute;
    top: 80px;
    left: 100px;
} .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
} .menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #333;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    transition: 0.4s;
} .menu.show {
    left: 0;
} .menu li {
    margin: 10px 0;
    left: 100%;
} .menu a {
    color: #fff;
    text-decoration: none;
} .menu-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
} .menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
} .menu-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
